:root {
  --clr-text: #3d3d3d;
  --clr-primary: #067E0A;
  --clr-primary-dark: #125814;
  --ff-title: sans-serif;
  --ff-serif: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.125rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 3em 1em;
}

/* Typography */
h1, h2, h3, h4, p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 1.1;
  font-size: 50px;
}

h2 {
  font-size: 3rem;
}

p {
  margin-bottom: 0.85em;
  font-size: 1.125rem;
}

p:last-child {
  margin-bottom: 0;
}

.section-title-small {
  font-size: 3rem;
}

.text-primary {
  color: var(--clr-primary);
  text-decoration: none;
}

/* logo section */
.logo {
  display: none;
}

.logo-icon {
  min-width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 1em;
}

.logo-section {
  display: flex;
  justify-content: center;
}

/* notification bar */
#barwrap {
  margin-bottom: 30px;
}

.notification-bar {
  text-align: center;
  padding: 8px;
  background-color: rgba(17, 92, 27, 0.65);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #f5f5f5;
  box-shadow: 0px 2px 13px 0.5px rgba(0, 0, 0, 0.4);
  display: none;
}

#text a {
  color: #fff;
  text-decoration: none;
}

#ok {
  float: right;
  height: 20px;
  width: 20px;
}

#text a:hover {
  text-decoration: underline;
}

#ok:hover, #ok:focus {
  cursor: pointer;
}

/* navigation */
.nav-header {
  justify-content: space-between;
}

nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

nav ul li {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

nav a {
  color: var(--clr-primary);
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

nav ul li:hover, nav ul li:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Hamburger Icon */
.toggle-button {
  position: absolute;
  top: 4rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}

.toggle-button .bar {
  height: 5px;
  width: 50px;
  background-color: black;
  border-radius: 10px;
}

/* buttons */
.btn {
  display: block;
  max-width: 40%;
  margin: 0 auto;
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  border-radius: .35em;
  background-color: var(--clr-primary);
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-primary-dark)
}

/* Homepage styles */
.hero {
  background-color: #333;
  background-image: url(../img/woman.jpeg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10vh;
}

.intro {
  padding: 2rem 1rem 2rem 1rem;
  ;
}

/* Scroll Down Animation */
.scrolldown {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrolldown span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scrolldown span:nth-child(2) {
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
  background: var(--clr-primary);
}

.about-us__intro {
  background-color: #333;
  background-image: url(../img/man.jpeg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  padding: 3em 1em 1em;
  padding: 10vh 1em;
}

.about-us__body {
  padding: 1em 1em 3em;
}

.order-online {
  background: #f0f0f0;
}

.order-online header {
  display: block;
  padding-bottom: 20px;
}

.product-showcase header {
  display: block;
}

.products {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 1em auto;
  justify-content: center;
}

.product {
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  text-align: center;
}

.product:hover, .product:focus {
  cursor: pointer;
  background-color: var(--clr-primary);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
  color: white;
}

.product:last-of-type {
  margin-bottom: 2em;
}

.product__content {
  padding: 1.5em;
}

.product__title {
  margin-bottom: 0.5em;
}

.product__text {
  display: none;
}

footer {
  background: #333;
  padding: 3em 1em;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10em;
  margin-top: 3em;
}

footer a {
  color: inherit;
  font-size: 20px;
}

footer li {
  padding: 5px;
}

.footer-nav,
.footer-social {
  list-style: none;
  padding: 0.75em;
}

.footer-nav a {
  padding: 10px;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.social-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
}

.social-icon {
  width: 50px;
}

/* Contact Page Styles */
.contact-form {
  width: 50%;
  padding: 20px;
  margin: 2rem auto;
  border: 1px solid #ccc;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid var(--clr-primary);
  background-color: #f1f1f1;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=text]:focus, select:focus, textarea:focus {
  background-color: #a2a0a0;
}

input[type=submit] {
  background-color: var(--clr-primary);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--clr-primary-dark);
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 3em 1em;
  }

  /*show the title*/
  .logo {
    display: block;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
    padding: 0.4em;
    max-width: 400px;
    min-width: 400px;
    text-decoration: none;
    color: black;
    border-bottom: solid 2px var(--clr-primary-dark);
    border-top: solid 2px var(--clr-primary-dark);
  }

  .logo:hover, .logo:focus {
    box-shadow: 0px 0px 15px black;
  }

  .logo-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-section a {
    text-decoration: none;
  }

  /* hide the nav button */
  .toggle-button {
    display: none;
  }

  header {
    padding: 1em 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* show the nav bar */
  nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  nav ul li {
    background-color: white;
  }

  nav a {
    color: var(--clr-primary);
    padding: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: solid var(--clr-primary-dark);
  }

  nav ul li:hover, nav ul li:focus {
    background-color: white;
  }

  .active-nav, nav a:hover, nav a:focus {
    color: white;
    background-color: var(--clr-primary-dark);
    box-shadow: 0px 0px 15px black;
  }

  .hero {
    padding: 15vh;
  }

  .intro {
    padding: 15vh;
  }

  .about-us {
    flex-direction: row;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  .about-us__intro,
  .about-us__body {
    flex: 0 1 50%;
  }

  .about-us__body {
    display: flex;
    flex-direction: column;
    padding: 3em 4em;
    justify-content: center;
  }

  .about-us__intro {
    text-align: right;
    padding-right: 4em;
  }

  .about-us__intro>* {
    max-width: 27rem;
    margin-left: auto;
  }

  .about-us__body {
    text-align: left;
  }

  .about-us__body > * {
    max-width: 27rem;
    margin-right: auto;
  }

  .order-online > * {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
  }

  .products {
    flex-direction: row;
    max-width: 1200px;
    padding: 0 3em;
  }

  .product {
    margin: 0;
    flex: 0 1 33%;
  }

  .product+.product {
    margin-left: 1em;
  }

  .product:last-of-type {
    margin-bottom: 0;
  }
